@media screen and (min-width: 200px) {

  body {
    font-size: 0.9rem;
    margin: 0.9em;
    text-align: center;
  }
  h1 {
    font-size: 1rem;;
  }
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  figure {
      margin: 0;
      margin-bottom: 2em;
  }

}

@media screen and (min-width: 800px) {
  body {
    background-color: aliceblue;
    font-size: 1.1rem;
    margin: 2em;
    text-align: center;
    max-width: 800px;
  }
  h1 {
    font-size: 1.5rem;;
  }
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  figure {
      margin: 0;
      margin-bottom: 2em;
  }
}
